li.todoEle {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}


.todo-checkbox {
    margin-right: 10px;
}


button.deleteBtn {
    background: none;
    border: none;
    color: #ff0000;
    cursor: pointer;
    font-size: 0.9em;
    margin-left: auto; 
}

button.deleteBtn:hover {
    text-decoration: underline;
}


.todoChecked {
    text-decoration: line-through;
    color: #888;
}
